@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <input type="text" value="Hoi" /><br/>
    <button onclick="Click()">Click me</button>

    <script>
        function Click()
        {
            document.body.style.backgroundColor = "#FF0000";
        }
    </script>

</div>
